@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao Novo Banco.</h1>
</div>

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-table"></i> Selecione uma das opções: </h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="callout callout-info">
                        <h5>Bancos:</h5>
                        <a class="text-dark" asp-area="" asp-controller="Banco" asp-action="Index">Listar Bancos</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="callout callout-info">
                        <h5>Contas:</h5>
                        <a class="text-dark" asp-area="" asp-controller="Conta" asp-action="Index">Listar Contas Bancárias</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


